.
<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<!--elemento polymer para recorrec colecciones-->
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="gestor-clientes">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <div class="container">
      <div class="row">
        <h1>Gestor de Clientes</h1>
        <img class="col-lg-8 col-xs-12" src="https://www.flaticon.com/premium-icon/icons/svg/1146/1146289.svg">
        <button on-click= "obtenerClientes" class="btn btn-success col-lg-4 col-xs-12" type="button" name="button">Obtener Clientes</button>
      </div>
      <div class="row">
        <!--button on-click= "incrementar" class="btn btn-success col-lg-4 col-xs-12" type="button" name="button">Cargar datos</button>
        <input type="text" placeholder="[[prop3]]" value="{{prop1::input}}">
        <input type="text" value="[[prop1]]"-->
        <table>
            <tbody>
              <template is="dom-repeat" items={{clientes}}>
                <tr>
                  <td>[[item.CustomerID]]</td>
                  <td>[[item.ContactName]]</td>
                  <td>[[item.CompanyName]]</td>
                </tr>
              </template>
            </tbody>
        </table>
      </div>
    </div>
    <!--h2>Hello [[prop1]]!</h2>
    <h3>Mi valor es [[prop2]]</h3-->
  </template>

  <script>
    class GestorClientes extends Polymer.Element {
      static get is() { return 'gestor-clientes'; }
      static get properties() {
        return {
          clientes: {
            type: Array,
            notify: true
            //value: 'mi-visor'
          }
        };
      }
      obtenerClientes (){
        var request = new XMLHttpRequest();
        request.open("GET","https://services.odata.org/V4/Northwind/Northwind.svc/Customers", false);
        request.setRequestHeader("Accept","application/json");
        request.send();
        this.clientes= JSON.parse(request.responseText).value;
        console.log(this.clientes);
      }
    }

    window.customElements.define(GestorClientes.is, GestorClientes);
  </script>
</dom-module>
